/* YourStyle.css */

.button-edit {
  background-color: #3498db;
  color: #fff;
  margin-right: 5px;
}

.button-delete {
  background-color: #e74c3c;
  color: #fff;
}

.button-add {
  background-color: forestgreen;
  color: #fff;
}
